@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-hero-image {
  background-image: url("./assets/images/pl-hero.png");
}

.button-primary {
  background: linear-gradient(270deg, #ecbcb3 0%, #eaa79e 100%);
  box-shadow: 0px 15px 20px 0px rgba(234, 168, 159, 0.2);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  position: relative;
}

.input-container {
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #dfe5ea;
  background-color: #f5f6f7;
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-container input {
  width: 100%;
  background-color: #f5f6f7;
  outline: none;
}

/* .input-container label {
  @apply absolute left-[15px] top-[11px] h-[10px] text-[11px] text-secondary;
}

.input-container input {
  @apply h-full w-full border-none bg-transparent pt-[30px] pr-[16px] pb-[12px] pl-[16px] text-[13px] text-input outline-none;
} */
